@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Preahvihear&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html {
    scroll-behavior: smooth;
}
#logo{
    position: absolute;
    left: 35px;
    top: 75px;
}
body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.admin_login{
    width: 100%;
    height: 100vh;
    background: rgb(114, 4, 24);
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_login h2{
    margin-bottom: 18px;
    font-size: 44px;
}
.admin_login input{
    border: 1px solid rgb(206, 206, 206);
    padding: 18px+52px;
    font-family: Crimson Text;
    font-size: 19px;
    width: 100%;
    margin-bottom: 34px;
}
.admin_login button{
    margin-top: 50.5px;
    font-family: Crimson Text;
    font-size: 19px;
    padding: 22px+252px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background: rgb(225, 106, 0);
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.admin_login p{
    color: red;
}
.admin_login div{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 69px+54.5px+34px;
    text-align: center;
}





.admin_panel{
    display: flex;
    width: 100%;
    background: #fffaf5;
    height: 100%;
}
.admin_panel nav{
    position: fixed;
    height: 100%;
    background: rgb(114, 4, 24);
    padding: 93.3px+35px;
}
.admin_panel nav ul{
    list-style-type: none;
    color: white;
}
.admin_panel nav li{
    margin-top: 34px;
}
.admin_panel nav a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.admin_panel nav a img{
    margin-right: 13px;

}



.admin_panel_right{
    padding: 127px+33px+0;
    margin-left: 353px;
    width: 100%;
}
.admin_panel_right h2{
    font-size: 30px;
    font-size: 30px;
    font-weight: 600;
    line-height: 196.19%;
    letter-spacing: 0%;
}
.admin_panel_right button{
    border-radius: 34px;
    background: rgb(255, 139, 0);
    border: none;
}
.search_book_btn{
    padding: 0px+20px;
    height: 40px;
}
.book_search h3{
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 600;
    line-height: 196.19%;
    letter-spacing: 0%;
    margin-bottom: 6px;
}
#search_book{
    border: 2px solid rgba(57, 31, 0, 0.48);
    border-radius: 34px;
    padding: 9px+33px;
    padding-right: 10px;
    margin-right: 7px;
    height: 41px;
    width: 300px;
}
.search_suggest{
    list-style: none;
    background: rgb(241, 240, 240);
    border-radius: 35px;
    padding: 0px+33px;
    overflow-y: scroll;
    height: 215px;
    width: 300px;
}
.search_suggest::-webkit-scrollbar {
    display: none;
}
.search_suggest li h5{
    padding: 9px+0;
    cursor: pointer;
    background: none;
    font-family: Preahvihear;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
}
.book_form_div{
    margin-top: 81px;
}
form{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 16px+30px;
    width: 90%;
    margin-top: 18px;
    margin-bottom: 136px;
}
form input{
    padding: 8px+12px;
    margin: 10px+0px;
    border: 1px solid rgb(226, 230, 238);
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
    width: 100%;
}
form button{
    border-radius: 10px;
    background: rgb(255, 139, 0);
    text-align: center;
    width: 100%;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 24px;
    letter-spacing: 0%;
}


.header{
    display: none;
}


table{
    border-spacing: 0;
    background: white;
    width: 90%;
}
.join_us_table{
    width: auto;
}
table th{
    padding: 16px+22.5px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1%;
    text-align: center;
}
table tr:nth-child(even) {
    background: rgb(249, 250, 252);
}
.table_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
table td{
    color: rgb(5, 17, 26);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1%;
    text-align: center;
    padding: 16px+22.5px;
    border-bottom: solid 1px rgb(230, 231, 233);
}
table tr td img{
    width: 36px;
}
.table_head{
    background: rgb(114, 4, 24);
}
.join_us{
    margin-bottom: 136px;
}


.books{
    margin-bottom: 300px;
}
.books_table{
    height: 480px;
    overflow-y: scroll;
}
.books_table::-webkit-scrollbar{
    display: none;
}


.contact_us{
    margin-bottom: 440px;
}
.responsive_table_contact{
    display: none;
}
#menu_exit_btn{
    display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.admin_panel{
    display: none;
}
/* .admin_login{
    display: none;
} */